@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

html, body {
    font-family: 'Inconsolata', monospace;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0;
}
.county {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapk, .out {
    height: 630px;
    width: 500px;
    background-color: #fff;
    /* margin-top: 30px; */
    box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0);
    padding: 2em 1em;
    display: block;
}
.mapk p {
    font-weight: 550;
}
.region {
    background-color: #f6f6f6;
    height: 100vh;
}
.guide {
    height: 550px;
    width: 450px;
    position: fixed;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1;
}
.info {
    position: absolute;
    top: 2%;
    left: 5%;
    color: darkblue;
    cursor: pointer;
}

.row:after{
    display: flex;
    justify-content: center;
}
.column{
    float: left;
    width: 40%;

}
.images{
    background-color: aquamarine;
}

